.modal {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 5;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal_body {
    background-color: #fff;
    font-weight: 700;
    min-height: 600px;
    width: clamp(300px, 70%, 1200px);
    position: relative;
    padding: 30px;
    border-radius: 8px;
    overflow: hidden;
}

.modal_times {
    font-size: 2rem;
    position: absolute;
    top: 10px;
    right: 8px;
    border: none;
    background: none;
    cursor: pointer;
}